body {
    background-color: rgb(255, 255, 165);
    font-family: 'Lora', serif;
    color: black;
    font-size: large;
    font-weight: bold;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}


.link-button {
    padding: 10.5px 20px;
    border: 0;
    border-radius: 50px;
    background-color: black;
    color:green;
    font-weight: bolder
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-top: 3%
    margin-button: 3%
  }
  
  .link-button:hover {
    background-color:rgb(230, 221, 109);
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .link-button:active {
    background-color: #3dcf5d;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

