body {
    background-color: rgb(255, 255, 165);
    font-family: 'Lora', serif;
    color: black;
    font-size: large;
    font-weight: bold;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}